<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--要想使用这种机制：namespace必须是dao接口的全限定名称。-->
<mapper namespace="com.yxz.mybatis06.mapper.CarMapper">

    <!--
       默认情况下，二级缓存机制是开启的。
       只需要在对应的SqlMapper.xml文件中添加以下标签。用来表示“我”使用该二级缓存。
   -->
    <!--    <cache/>-->

    <!--集成Ehcache组件-->
    <cache type="org.mybatis.caches.ehcache.EhcacheCache"/>

    <select id="selectById" resultType="Car">
        select *
        from t_car
        where id = #{id}
    </select>

    <insert id="insertCar">
        insert into t_car(id, car_num, brand, guide_price, produce_time, car_type)
        values (null, #{carNum}, #{brand}, #{guidePrice}, #{produceTime}, #{carType})
    </insert>


</mapper>