<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>

    <!--resource,一定是从类路径下开始查找资源-->
    <properties url="file:////Users/linkk/codes/freestyle/tech-road/frame-mybatis-demo/jdbc.properties"/>

    <!--mybatis的全局设置-->
    <settings>
        <setting name="mapUnderscoreToCamelCase" value="true"/>
    </settings>

    <!--起别名-->
    <typeAliases>
        <!--
            type: 指定给哪个类型起别名
            alias：指定别名
            注意：别名不缺分大小写。
            alias属性是可以省略的。有默认的别名。
        -->
        <!--<typeAlias type="com.yxz.mybatis03.pojo.Car" alias="aaa"/>
        <typeAlias type="com.yxz.mybatis03.pojo.Log" alias="bbb"/>-->

        <!--省略alias之后，别名就是类的简名，比如：com.yxz.mybatis01.pojo.Car的别名就是Car/car/cAR/cAr，不缺分大小写。 -->
        <!--<typeAlias type="com.yxz.mybatis03.pojo.Car"/>
        <typeAlias type="com.yxz.mybatis03.pojo.Log"/>-->

        <!--将这个包下的所有的类全部自动起别名。别名就是类简名。不区分大小写。-->
        <package name="com.yxz.mybatis03.pojo"/>

    </typeAliases>

    <environments default="development">
        <environment id="development">
            <!--<transactionManager type="MANAGED"/>-->
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="${jdbc.driver}"/>
                <property name="url" value="${jdbc.url}"/>
                <property name="username" value="${jdbc.username}"/>
                <property name="password" value="${jdbc.password}"/>
            </dataSource>
        </environment>
    </environments>

    <mappers>
        <!--<mapper resource=""/>
         <mapper url=""/>
         <mapper class=""/>-->

        <!--<mapper resource="CarMapper.xml"/>
        <mapper resource="LogMapper.xml"/>-->

        <!--使用这种方式的前提：CarMapper.xml文件的位置不能随便放-->
        <!--必须和CarMapper接口放在一起。-->
        <!--XML文件的名字必须和接口名一致。-->
        <!--<mapper class="com.yxz.mybatis03.mapper.CarMapper"/>
        <mapper class="com.yxz.mybatis03.mapper.LogMapper"/>-->

        <!-- 这种方式在实际开发中是使用的。-->
        <!--前提是：XML文件必须和接口放在一起。并且名字一致。-->
        <package name="com.yxz.mybatis03.mapper"/>

<!--        提醒！！！！！！！！！！！！！！！！！！！！！！！-->
<!--        在IDEA的resources目录下新建多重目录的话，必须是这样创建：-->
<!--        com/powernode/mybatis/mapper-->
<!--        不能这样：-->
<!--        com.powernode.mybatis.mapper-->
    </mappers>
</configuration>