<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--要想使用这种机制：namespace必须是dao接口的全限定名称。-->
<mapper namespace="com.yxz.mybatis09.mapper.CarMapper">

    <select id="selectAll" resultType="Car">
        select *
        from t_car
    </select>

    <select id="selectByPage" resultType="Car">
        select *
        from t_car limit #{startIndex},#{pageSize}
    </select>

</mapper>